:root{
    
    --mauve:#9356DC;
    --rose: #FF79DA ;
    --bleu: #99E2D0;
    --gris-clair: #f6f7f7;
}

*{
    box-sizing: border-box;
}



/******body******/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/***header***/
.headers {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-right: 70px;
    font-family: 'Shrikhand', cursive;
}

.back {
    font-size: 25px;
}

.image img {
    width: 100%;
}



/****section****/
a {
    text-decoration: none;
    color: black;
}
.menu {
    position: relative;
    background-color: var(--gris-clair);
    border: 1px solid var(--gris-clair);
    border-radius: 50px 50px 0px 0px;
    margin-top: -55px;
    padding: 10px;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:18px;
}

.heart {
    font-size: 25px;
}

/****listes****/
section h4 {
    font-weight: 500;
    border-bottom: 3px solid var(--bleu);
    width: 12%;
    padding-bottom: 2%;
    margin-left: 6px;
    font-size: 15px;
}

.name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: -9px;
    font-size: 15px;
}

.price {
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.list h3 {
    margin-left: 5px;
    font-size: 17px;
}

.list {
    border: solid white;
    background-color: white;
    border-radius: 15px;
    line-height: 0;
    box-shadow: 1px 4px 15px -2px lightgrey;
    margin-bottom: 20px;
}

button {
    background: linear-gradient( #FF79DA ,#9356DC);
    color: white;
    border-radius: 50px;
    width: 195px;
    height: 52px;
    font-size: 16px;
    border: inherit;
}

button:hover{
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 15px 8px white;
    filter: brightness(1.1);
}

.button {
    display: flex;
    justify-content: center;
    padding: 35px;
}

/****footer****/
footer {
    background-color:#323232;
    color: white;
    padding-bottom: 15px;
}

footer h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: inherit;
}

.footers {
    display: flex;
    margin-left: 25px;
    flex-direction: column;

}

.foot-text {
    display: flex;
    align-items: center;
    line-height: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.foot-text p {
    margin-left: 10px;
}

.foot {
    line-height: 5px;
    font-size: 13px;
}















@media screen and (min-width: 992px) {
    .image img {
    height: 335px;
    image-rendering: pixelated;
    object-fit: cover;
    }
}