:root{
    
    --mauve:#9356DC;
    --rose: #FF79DA ;
    --bleu: #99E2D0;
    --gris-clair: #f6f7f7;
}

*{
    box-sizing: border-box;
}



/******body******/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/***header***/
.headers {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-right: 70px;
    font-family: 'Shrikhand', cursive;
}

.back {
    font-size: 25px;
}

.image img {
    width: 100%;
}



/****section****/
a {
    text-decoration: none;
    color: black;
}
.menu {
    position: relative;
    background-color: var(--gris-clair);
    border: 1px solid var(--gris-clair);
    border-radius: 50px 50px 0px 0px;
    margin-top: -55px;
    padding: 10px;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:18px;
}

.heart {
    font-size: 25px;
}

.heartfull {
    font-size: 25px;
    position: absolute;
    transform: scale(0);
    transition-duration: 1s;
    background-image: linear-gradient(#FF79DA ,#9356DC); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
} 

.heart:hover .heartfull{
    transform: scale(1);
}

/****listes****/
section h4 {
    font-weight: 500;
    border-bottom: 3px solid var(--bleu);
    width: 12%;
    padding-bottom: 2%;
    margin-left: 6px;
    font-size: 15px;
}

.caption {
    line-height: 0.5;
}

.price {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content:flex-end ;
}

.list h3 {
    font-size: 17px;
}

.list {
    border: solid white;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 4px 15px -2px lightgrey;
    margin-bottom: 20px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    position: relative;
}

.list1 {
    animation: list 2s forwards;
}

.list2{
    animation: list 5s forwards;
    animation-delay:0.2s;
    opacity: 0;
}

.list3{
    animation: list 6s forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes list {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.check {
    height: 73px;
    right: -3px;
    background-color: #99E2D0;
    width: 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.check i {
    color: white;
    font-size: 35px;
    opacity: 0;
}

.list:hover .price {
    margin-right: 90px;
    transition: 1s;
}

.list:hover .check {
    width: 80px;
    margin-right: 0px;
    transition-duration: 1s;
}

.list:hover .check i {
    opacity: 1;
    transition-duration: 1s;
    transform: rotate(-360deg);
}

button {
    background: linear-gradient( #FF79DA ,#9356DC);
    color: white;
    border-radius: 50px;
    width: 195px;
    height: 52px;
    font-size: 16px;
    border: inherit;
}

button:hover{
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 15px 8px white;
    filter: brightness(1.1);
}

.button {
    display: flex;
    justify-content: center;
    padding: 35px;
}

/****footer****/
footer {
    background-color:#323232;
    color: white;
    padding-bottom: 15px;
}

footer h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: inherit;
}

.footers {
    display: flex;
    margin-left: 25px;
    flex-direction: column;

}

.foot-text {
    display: flex;
    align-items: center;
    line-height: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.foot-text p {
    margin-left: 10px;
}

.foot {
    line-height: 5px;
    font-size: 13px;
}












@media screen and (min-width: 992px) {
    .image img {
    height: 335px;
    image-rendering: pixelated;
    object-fit: cover;
    }

    .list{
    width: 40%;
    margin: auto;
    margin-top: 20px;
    }

    section h4{
        margin-left: 20%;
    }
}