:root{
    
    --mauve:#9356DC;
    --rose: #FF79DA ;
    --bleu: #99E2D0;
    --gris-clair: #f6f7f7;
}

*{
    box-sizing: border-box;
}



/******body******/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.loader-spinner {
    width: 56px;
    height: 56px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 9px solid;
    border-color: var(--mauve);
    border-right-color: var(--rose);
    animation: spinner 3s infinite linear;
 }

 .container-site {
     animation: page 3s linear;
 }
 
 @keyframes page{
    0% {
        opacity: 0; 
    }

    100% {
        opacity: 1;
    }
 }


 @keyframes spinner {
    to {
       transform: rotate(1turn);
    }

    0% {
        opacity: 1; 
    }

    100% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}


/****header****/
header h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
}

.headers {
    background-color: var(--gris-clair);
    height: 320px;
}

.theheader {
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    background: #eaeaea;
    box-shadow: inset 0px 14px 8px -15px grey;
}

header h2 {
    text-align: center;
    padding: 10px;

    font-weight: 800;
}

header h4 {
    font-weight: 400;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

header button:hover{
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 15px 8px grey;
    filter: brightness(1.1);
}

header button {
    background: linear-gradient( #FF79DA ,#9356DC);
    box-shadow: 0px 3px 8px 0px grey;
    color: white;
    border-radius: 50px;
    width: 195px;
    height: 52px;
    font-size: 14px;
    border: inherit;
    transition: 0.2s linear;
}



/****section****/
.first h2 {
    margin-left: 10px;
}

.first a {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}

.number {
    display: flex;
    color: white;
    background-color: var(--mauve);
    border-radius: 50%;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
    bottom: 23px;
}

li {
    box-shadow: 4px 7px 9px -5px #f6f7f7;
    border-radius: 20px;
    background-color: var(--gris-clair);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8px;
    position: relative;
}

.lightpurple {
    background-color: rgba(246, 229, 255, 0.73);
}

i.fa-solid.fa-store {
    color: var(--mauve);
}

i.fa-solid {
    margin-right: 15px;
}



/***Second Section***/
.second {
    background-color: var(--gris-clair);
    padding-top: 35px;
    padding-block-end: 35px;
}

.second h2 {
    margin-left: 20px;

}

.second figure {
    box-shadow: 1px 1px 4px 2px #d5d3d3;
    background-color: white;
    border-radius: 20px;
    margin: 13px;
    overflow: hidden;
    font-weight: 500;
    position: relative;
}

.second figure img {
    max-width: 100%;
    height: 155px;
    width: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.second figcaption {
    font-size: 14px;
    line-height: 6px;
    padding: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards h3 {
    font-weight: 800;
}

.heart {
    font-size: 25px;
    margin-right: 10px;
    position: relative;
}

.heartfull {
    position: absolute;
    top: 0;
    background: linear-gradient(#FF79DA ,#9356DC);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 0;     
}

.heartfull:active{
    animation: heart 1s ease-in-out;
    opacity: 1;
    cursor:default;
    pointer-events: none;
}

@keyframes heart {
    0% {
        transform: scale(0%);
    }


    50% {
        transform: scale(50%);
    }

    100% {
        transform: scale(100%);
    }

}




figcaption p {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    height: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b700b;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

/****footer*/
footer {
    background-color:#323232;
    color: white;
    padding-bottom: 15px;
}

footer h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: inherit;
}

.footers {
     display: flex;
    margin-left: 25px;
    flex-direction: column;

}

.foot-text {
    display: flex;
    align-items: center;
    line-height: 0;
}

.foot {
    line-height: 5px;
    font-size: 13px;
}



















@media screen and (min-width: 992px) {

    header h1 {
        font-size: xxx-large;
    }

    .theheader{
        font-size: 27px;
    }

    header h2 {
        font-size: 33px;

    }

    header button {
        width: 242px;
        height: 71px;
        font-size: 20px;
    }

    .headers {
         height: 345px;
    }


    .first h2 {
        text-align: center;
        font-size: 33px;
    }

    ul {
        flex-direction: inherit;
        font-size: 23px;
    }

    .cards {
        font-size: 21px;
    }

    .heartfull:hover{
        animation: heart 1s ease-in-out;
        opacity: 1;
    }

   .second figure img {
        height: 550px;
   }

   .second figure {
    width: 800px;
   }

   .second {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .second h2 {
       margin: inherit;
       font-size: 45px;
   }
   figcaption p {
        height: 60px;
        width: 170px;
        font-size: 28px;
   }

   .footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 22px;
    }

    footer h4 {
        text-align: center;
        font-size: 40px;
    }

}
